body {
    font-family: serif;
    /* margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 5px solid red;
    text-align: center; */
}
b {
    font-weight: bolder;
}
h1 {
    text-align: center; 
    font-size: 50px;
    color: forestgreen;
    margin: 4%;
}
h2 {
    text-align: left;
    font-size: 30px;
    color: forestgreen;
    margin: 3%;
}
a {
    color: black;
    text-decoration: none;
}



#topo {
    margin: 2%;
    width: 940px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* border: 5px solid red; */
}



#menu-superior ul li {
    padding: 20px;
    font-size: 20px;
    /* letter-spacing: 1px; */
    display: inline;
}
#pag-atual {
    color: forestgreen;
    text-decoration: underline;
}



#logo-area {
    background-image: url(../img/overlay.png), url(../img/logoBackgroundAlt.jpg);
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    text-align: center; 
}
#logo-index {
    padding: 8%;
    height: 180px;
}
#logo {
    padding: 3%;
    height: 180px;
}



#conteudo-esquerdo {
    /* border: 5px solid blue; */
    width: 460px;
    height: 460px;
    padding: 7px;
    vertical-align: middle;
}
#conteudo-esquerdo iframe {
    width: 100%;
    height: 70%;
}
#conteudo-direito {
    /* border: 5px solid blue; */
    width: 460px;
    height: 460px;
    padding: 7px;
    vertical-align: middle;
}



#secao-info {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    /* border: 5px solid red; */
}
#cor-secao {
    background-color: oldlace;
}
#secao-2 {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    /* border: 5px solid red; */
    /* background-color: lightgray; */
}



